<h3>Questions</h3>


<h3><%= pluralize(@questions.count, 'Question') %></h3>
<table border="1" >
  <thead>
  <tr>
     <th>Title</th>
     <th>Body</th>
     <th>Posted On</th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
  <tr>
     <td><%= link_to(question.title,  question_path(question.id)) %></td>
     <td><%= format_body(question) %></td>
       <td><%= question.created_at.to_s(:short) %></td>
  </tr>
  <% end %>  
  </tbody>
</table>