<h3>Questions</h3>


<h3><%= pluralize(@questions.count, 'Question') %></h3>


<table border="1" >
  <thead>
  <tr>
     <th>Title</th>
     <th>Body</th>
     <th>Posted On</th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
  <tr>
     <td><%= question.title%></td>
     <td><%= truncate(question.body, length: 20, separator: ' ') %></td>
     <td><%= question.created_at.to_s(:short) %></td>
  </tr>
  <% end %>  
  </tbody>
</table>